In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [7]:
Attempt_to_commit_rape_I_V  = pd.read_csv('Rape_Data/Attempt_to_commit_rape_I_V.csv')
Attempt_to_commit_rape_I_V.head(4)

,State/UT,Attempt to Commit Rape (Total)(I),Attempt to Commit Rape (Total)(V),A) Women (18 Yrs. And above)(I),A) Women (18 Yrs. And above)(I).1,B) Girls (Below 18 yrs))(I),B) Girls (Below 18 yrs))(I).1
0,Andhra Pradesh,191,192,144,144,47,48
1,Arunachal Pradesh,11,12,5,5,6,7
2,Assam,527,527,525,525,2,2
3,Bihar,110,110,105,105,5,5

In [8]:
CrimeAgainstWomen  = pd.read_csv('Rape_Data/CrimeAgainstWomen_Total_2016-18.csv')
CrimeAgainstWomen.head(4)

,State/UT,2016,2017,2018,Percentage State Share To All-India (2018),Mid-Year Projected Female Population (In Lakhs) (2018)+,Rate of Total Crime against Women (2018)++
0,Andhra Pradesh,16362,17909,16438,4.3,260.0,63.2
1,Arunachal Pradesh,367,337,368,0.1,7.2,51.1
2,Assam,20869,23082,27728,7.3,167.0,166.0
3,Bihar,13400,14711,16920,4.5,567.4,29.8

In [11]:
Custodial_rape = pd.read_csv('Rape_Data/Custodial_rape.csv')
Custodial_rape.head(4)

,State/UT,Punishment for Rape (Sec.376 & 376(I),Rape in Custody (Total),By Police Personnel (Sec.376(2) (a),By Public Servant (Sec.376(2) (b),By Member of Armed Forces (Sec.376(2) (c),By Management/Staff of Jail/Remand Home/Place of Custody (Sec.376(2)(d),By Management/ Staff of Hospital (Sec.376(2) (e)
0,Andhra Pradesh,578,6,3,0,0,1,2
1,Arunachal Pradesh,42,0,0,0,0,0,0
2,Assam,1476,1,1,0,0,0,0
3,Bihar,625,0,0,0,0,0,0

In [13]:
Disposal_CrimeHead_Wise_2018 =pd.read_csv('Rape_Data/Disposal(CrimeHead-Wise)-2018.csv')
Disposal_CrimeHead_Wise_2018.head(4)

,Crime Head,Persons Arrested Male,Persons Arrested Female,Persons Arrested Total,Persons Chargesheeted Male,Persons Chargesheeted Female,Persons Chargesheeted Total,Persons Convicted Male,Persons Convicted Female,Persons Convicted Total,Persons Discharged Male,Persons Discharged Female,Persons Discharged Total,Persons Acquitted Male,Persons Acquitted Female,Persons Acquitted Total
0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
1,POCSO Act Section 4 & 6,25641,605,26246,23673,465,24138,3037,20,3057,356,2,358,5333,86,5419
2,POCSO Act Section 8 & 10,16980,164,17144,16005,131,16136,1918,8,1926,144,1,145,2581,10,2591
3,Rape,40225,892,41117,36737,776,37513,5921,48,5969,1996,26,2022,14177,214,14391

In [14]:
Non_custodial_rape = pd.read_csv('Rape_Data/Non_custodial_rape.csv')
Non_custodial_rape.head(4)

,State/UT,Rape Other than Custodial (Total),By Relative/Guardian/Teacher/person in position of trust (Sec.376(2) (f),On Pregnant Women (Sec.376(2) (h),On Women Below 16 years of age (Sec.376(2) (i),On Women Incapable of giving Consent (Sec.376(2) (j),By Persons in Control or Dominance over women (Sec.376(2) (k),On Women with Mental or Physical disability (Sec.376(2)(l),Endanger life of Women after Rape (Sec.376(2)(m),Repeated Rape on same women (Sec.376(2)(n),Other Custo- dial Rapes,Punishment upto 20 years extended to life for Rape (Below 16 Yrs) (Sec.376(3)),Punishment for causing Death (Sec.376(A))
0,Andhra Pradesh,297,19,0,108,0,1,9,0,79,81,59,1
1,Arunachal Pradesh,22,4,0,15,1,0,1,0,1,0,0,0
2,Assam,148,90,0,10,0,43,0,0,0,5,0,0
3,Bihar,17,11,0,0,0,0,2,0,1,3,0,0

In [15]:
Police_Disposal_CrimeHead_Wise_2018 = pd.read_csv('Rape_Data/Police_Disposal(CrimeHead-Wise)-2018.csv')
Police_Disposal_CrimeHead_Wise_2018.head(5)

,Crime Head,Cases Pending Investi-gation from Previous Year,Cases Reported during the year,Cases Reopened for Investi-gation,Total Cases for Investi-gation (Col.3+ Col.4+ Col.5),Cases Not Investi-gated Under 157_1_b CRPC,Cases True but Insufficient Evidence or Untraced or No Clue,Cases Abated during Investi-gation,Total (Col.10+ Col.11+ Col.12+ Col.13+ Col.14),Cases Charge-sheeted Out of Cases from Previous Year,...,Cases Charge-sheeted (Col.16+ Col.17),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2,3,4,5,6,7,13,14,15,16,...,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POCSO Act Section 4 & 6,7761,21401,2,29164,1,360,42,817,4538,...,19544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POCSO Act Section 8 & 10,5507,14124,10,19641,0,294,5,774,2845,...,12497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rape,13762,33356,21,47139,1,1093,75,4841,7054,...,28469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Murder with Rape/Gang Rape,99,294,0,393,0,24,2,33,31,...,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
punished_rapists = pd.read_csv('Rape_Data/punished_rapists.csv')
punished_rapists.head(5)

,State/UT,By Seperated husband (Sec.376 (B)),Rape/Gang Rape of Girl Below 16 Yrs (Imprisonment for life till death) (Sec.376(DA)),By Person in Authority (Sec.376 (C)),Gang Rape (Sec.376(D)),Rape/Gang Rape of Girl Below 12 Yrs (Imprisonment for life till death) (Sec.376(DB)),Rape/Gang Rape of Girl Below 16 Yrs (Imprisonment for life till death) (Sec.376(DB)),Punishment for Repeat offenders (Sec.376(E)),Rape (Total) (Sec.376 IPC)
0,Andhra Pradesh,0,13,1,12,0,4,0,971
1,Arunachal Pradesh,0,0,0,1,2,0,0,67
2,Assam,2,0,0,20,1,0,0,1648
3,Bihar,0,0,0,8,1,0,0,651
4,Chhattisgarh,0,14,1,38,4,10,6,2091

In [17]:
Rape_under_Different_age_groups_2018 = pd.read_csv('Rape_Data/Rape_under_Different_age_groups_2018.csv')
Rape_under_Different_age_groups_2018.head(5)

,State/UT,Cases Reported,Below 6 Years,6 Years & Above (Below 12 Years),12 Years & Above(Below 16 Years),16 Years & Above(Below 18 Years ),Total Girl /Child Victims(Below 18),18 Years & Above( Below 30 Years ),30 Years & Above (Below 45 Years),45 Years & Above(Below 60 Years),60 Years & Above,Total Women / Adult Victims(Above 18),Total Victims
0,Andhra Pradesh,971,16,57,181,251,505,373,76,14,5,468,973
1,Arunachal Pradesh,67,4,4,13,11,32,29,9,0,0,38,70
2,Assam,1648,7,24,6,52,89,1043,523,107,5,1678,1767
3,Bihar,651,0,0,1,3,4,520,111,16,0,647,651
4,Chhattisgarh,2091,41,80,557,541,1219,644,190,42,6,882,2101

In [18]:
RapeCommited_I_V =pd.read_csv('Rape_Data/RapeCommited_I_V.csv')
RapeCommited_I_V.head(5)

,State/UT,Rape (Total)(I),Rape (Total)(V),Women (18 Yrs. And above)(I),Women (18 Yrs. And above)(V),Girls (Below 18 yrs)(I),Girls (Below 18 yrs)(I).1
0,Andhra Pradesh,971,973,468,468,503,505
1,Arunachal Pradesh,67,70,38,38,29,32
2,Assam,1648,1767,1559,1678,89,89
3,Bihar,651,651,647,647,4,4
4,Chhattisgarh,2091,2101,876,882,1215,1219

In [19]:
Rapist_Victim_relation  = pd.read_csv('Rape_Data/Rapist_Victim_relation.csv')
Rapist_Victim_relation.head(5)

,State/UT,Cases Offender known to Victim (Total),Family members,Family Friends/ Neighbours/ Employer or Other Known Persons,Friends/Online-Friends or Live in Partners on Pretext of Marriage/Seperated Husband,Cases Offenders Unknown or Not Identified,Total Rape Cases (Known+unknown Offenders),Percentage Share of Known Cases to Total Rape Cases
0,Andhra Pradesh,912,64,474,374,59,971,93.9
1,Arunachal Pradesh,63,11,33,19,4,67,94.0
2,Assam,1488,141,784,563,160,1648,90.3
3,Bihar,639,7,219,413,12,651,98.2
4,Chhattisgarh,1915,136,796,983,176,2091,91.6